In [1]:
import pandas as pd
from sqlalchemy import create_engine
import os

file = 'G:/Mon Drive/PCO/data/'

def send_to_SQL(db_table):
    # Paramètres de connexion à la base de données MySQL
    db_username = os.getenv('DB_USER')
    db_password = os.getenv('DB_PASSWORD')
    db_host = os.getenv('DB_HOST')
    db_port = os.getenv('DB_PORT')
    db_database = os.getenv('DB_DATABASE')

    df = pd.read_csv(f'{file}{db_table}.csv', sep=';')

    # Créer une connexion à la base de données MySQL avec SQLAlchemy
    engine = create_engine(f"mysql+pymysql://{db_username}:{db_password}@{db_host}:{db_port}/{db_database}")

    # # Envoyer le DataFrame en tant que table MySQL
    df.to_sql(name=db_table, con=engine, index=False, if_exists='replace')

    # Récupérer les données de la table MySQL
    query = f"SELECT * FROM {db_table}"
    df_from_mysql = pd.read_sql(query, con=engine)

    # Afficher le DataFrame récupéré depuis MySQL
    print("DataFrame récupéré depuis MySQL:")
    print(df_from_mysql)

In [2]:
datas = ['anatomopathologists', 'patients', 'diagnostics']

for data in datas:
    send_to_SQL(data)

DataFrame récupéré depuis MySQL:
                   name  id_med
0   Dr Zacharie Mercier       0
1    Dr Olivier Bernier       1
2     Dr Antoine Brunet       2
3          Dr Luc Hamel       3
4    Dr Frédéric Martel       4
..                  ...     ...
95      Dr Andrée Guyot      95
96      Dr Andrée Leleu      96
97   Dr Simone Bertrand      97
98      Dr Alix Rolland      98
99  Dr Lorraine Bonneau      99

[100 rows x 2 columns]
DataFrame récupéré depuis MySQL:
                   name                                       address  \
0       Gilbert Étienne      49, boulevard de Jacques, 21813 Legendre
1      Joseph Berthelot      avenue Georges David, 65552 Saint Simone
2      Guillaume Samson     611, boulevard Rey, 65501 Saint AnneVille
3     Alexandre Clément              3, boulevard Simon, 74510 Devaux
4        Étienne Techer                 avenue de Munoz, 46329 Giraud
..                  ...                                           ...
395     Laure Schneider         avenue Susan Gilles, 50703 Lucasboeuf
396       Maryse Picard                 60, rue Godard, 61953 Le Roux
397     Céline De Sousa             rue Caroline Simon, 24910 Antoine
398  Élisabeth Vaillant            9, chemin de Foucher, 44228 Durand
399      Audrey Buisson  64, rue de Devaux, 59334 Sainte ThérèseVille

       birthday                     nir
0    15/01/1963  1 1963 01 21813 466 38
1    04/11/1960  1 1960 11 65552 524 96
2    19/06/1948  1 1948 06 65501 880 61
3    17/03/1998  1 1998 03 74510 756 57
4    26/07/1993  1 1993 07 46329 513 71
..          ...                     ...
395  25/06/1966  2 1966 06 50703 130 24
396  05/07/1977  2 1977 07 61953 913 20
397  05/04/1991  2 1991 04 24910 146 64
398  03/04/1982  2 1982 04 44228 865 43
399  19/02/1976  2 1976 02 59334 635 94

[400 rows x 4 columns]
DataFrame récupéré depuis MySQL:
   organe                                   diagnostic  cancer  id_diag
0    peau                                    psoriasis       0        0
1    peau                           dermatite atopique       0        1
2    peau                           lupus érythémateux       0        2
3    peau                       dermatite herpétiforme       0        3
4    peau                                  lichen plan       0        4
..    ...                                          ...     ...      ...
79   foie                   carcinome hépatocellulaire       1       79
80   foie  cancer des canaux biliaires intrahépatiques       1       80
81   foie                      lymphome non hodgkinien       1       83
82   foie                               hépatoblastome       1       84
83   foie                           cholangiocarcinome       1       85

[84 rows x 4 columns]